<!--Main Navigation-->
<!--Main Navigation-->
<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)"><i class="fas fa-newspaper"></i> BLOG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li *ngIf="getRoleData('ROLE_ADMIN')" class="nav-item">
            <a class="nav-link" routerLink="/create-article">Create Blog</a>
          </li>
          <li *ngIf="getRoleData('ROLE_USER')" class="nav-item">
            <a class="nav-link" routerLink="/view-article">View Blogs</a>
          </li>
          <li *ngIf="getRoleData('ROLE_SUPER_ADMIN')" class="nav-item">
            <a class="nav-link" routerLink="/review-article">Review Blogs</a>
          </li>
         
          
        </ul>
        
          <button *ngIf="isLoggedIn()" type="button" (click)="logout()" class="float-right mr-4 btn btn-secondary">Logout</button>
        
      </div>
    </div>
  </nav>
  <!-- Jumbotron -->
</header>
<!--Main Navigation-->
<!--Main Navigation-->

<!--Main layout-->
<main>
  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer>

</footer>
<!--Footer-->